section.special-bar{
    background-color: rgb(200, 201, 201)
}

.chart div, .chart2 div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

.chart-svg rect, .chart-histogram rect {
    fill: steelblue;
  }
  
.chart-svg text, .chart-histogram text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}