<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bar Chart</title>
    <link rel="stylesheet" href="../css/bar.css">
</head>
<body>
    <section>
        <h1>Scaling Chart</h1>
        <div class="chart">
            
        </div>
        <h1>Not Scaling Chart</h1>
        <div class="chart2">
            
        </div>
        <svg class="chart-svg">

        </svg>
        <svg class="chart-histogram">

        </svg>
    </section>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../js/bar.js"></script>
</body>
</html>