<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D3 JS</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <p class="blue">This is first paragraph</p>
    <p class="red">This is second paragraph</p>
    <p class="blue">This is third paragraph</p>
    <p class="red">This is fourth paragraph</p>
    <p class="blue">This is fifth paragraph</p>

    <h4 class="blue">This is first heading</h4>
    <h4 class="red">This is second heading</h4>
    <h4 class="blue">This is third heading</h4>
    <h4 class="red">This is fourth heading</h4>
    <h4 class="blue">This is fifth heading</h4>

    <svg height="500" width="500">
        <circle cx="50" cy="50" r="40" stroke="black" stroke-width="1" fill="red" />
        <circle cx="50" cy="50" r="40" stroke="black" stroke-width="1" fill="red" />
        <circle cx="50" cy="50" r="40" stroke="black" stroke-width="1" fill="red" />
        <circle cx="50" cy="50" r="40" stroke="black" stroke-width="1" fill="red" />
        <circle cx="50" cy="50" r="40" stroke="black" stroke-width="1" fill="red" />
    </svg>

    <div class="chart">

    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../js/d3.js"></script>
</body>
</html>